#blog{
    width: 100%;
    height: 180vh;
    display: grid;
    background-color: #80A1D4;
    color: #F7F4EA;
    position: relative;
}



/* =========== POSTAGENS MAIS CURTIDAS ======== */
#postagens-blog{
    width: 100%;
    height: 100vh;
}

.titulo-blog{

    font-size: 48px;
    font-weight: 700;
    height: fit-content;

    text-align: left;

    color: #F7F4EA;

    margin-left: 3%;
}

.traco-titulo-blog{
    border-bottom: 1px solid #75C9C8;
    border-width: 3px;
    width: 5%;
    
}

.subtitulo-blog{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    top: 150px;
    text-align: center;
    height: fit-content;
}

.traco-subtitulo-blog{
    border-bottom: 1px solid #75C9C8;
    border-width: 3px;
    width:13.5%;
    margin-left: 44%;
}

/* USAR COMO EXEMPLO ORGANIZAÇÃO */
.container-swiper{
    width: 900px;
    height: 400px;

    position: relative;
    top: 200px;
    
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-container {
    width: 88%;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide {
    font-size: 24px;
    color: #F7F4EA;
    font-weight: 300;
}



.button-prev{
   position: absolute;
   top: 50%;
   left: 10px;
}

.button-next {
    position: absolute;
   top: 50%;
   right: 10px;
}

.contaier-legenda-swiper{

    display: flex;
    width: 100%;

}


.container-generico{
    border: 2px solid #F7F4EA;
    height: 5vh;
    border-radius: 10px;
    width: 40%;
    display: flex;
}

.ver-mais-generico{
    background-color: #F7F4EA ;
    height: 5vh;
    border-radius: 10px;
    width: 44%;
    position: relative;
    left: 30px;
}

.ver-mais-generico p{
    color: #164194;
    font-size: 15px;
    font-weight: 700;

    margin-top: 12%;
    text-align: center;
}

.botao-like-blog{
    background: none;
    border: none;
}


.input1{

    color: white;

    border: none;
    background: none;
    
    font-size: 20px;
    font-weight: 500;
    
    margin-left: 38%;


}

.img-botao-like-blog{
    position: relative;
    left: 10px;
    top: 2px;
}

/* tirar outline do click */
input:focus,
select:focus,
textarea:focus,
button:focus {
outline: none;
}




/* ======= AUTORES MAIS CURTIDOS ======== */

#autores-blog{
    height: 80vh;
}

.container-perfil-autores{
    display: flex;
}

.container-perfil-autores img{
    height: fit-content;
    width: fit-content;
}

.subtitulo-blog{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    top: 120px;
    text-align: center;
    height: fit-content;
}

.perfil-autor01{
    border: 1px solid blue;

    display: flex;

    margin-top: 50%;
    margin-left: 70%;
    
    
    width: 60%;
    height: 60%;
}

.perfil-autor01 h3{

    font-weight: 500;
    font-size: 24px;

    height: fit-content;
    
    margin-top: 3%;
    margin-left: 6%;
}

.perfil-autores img{
    height: fit-content;
    width: fit-content;
}

 .botao-biografia{
    background-color: #F7F4EA ;
    border-radius: 10px;

    width: 100%;
    height: fit-content;

    margin-left: -115%;
    margin-top: 37%;



    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-biografia a h3{
    color: #164194;

    font-weight: 700;

    text-align: center;

    padding-right: 5%;
    padding-bottom: 3%;
}




@media (max-width: 920px){
    .container-swiper{
        width: 100%;
    }

    .perfil-autor01{
        
        margin-left: 55%;
    }
}

@media (max-width: 740px){
    .perfil-autor01{
        
        margin-left: 45%;
    }

}

@media (max-width: 654px){
    .perfil-autor01{
        
        margin-left: 35%;
    }

}

@media (max-width: 570px){
    .perfil-autor01{
        
        margin-left: 29%;
    }
}

@media (max-width: 425px){

    .ver-mais-generico p{
        font-size: 12px;
    }

    .input1{
        display: none;
    }



    .perfil-autor01{
        margin-left: 19%;
    }

    .botao-biografia{
        margin-top: 45%;
        margin-left: -130%;
    }
    

}

