*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}


body{
    
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F4EA;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
}

img, svg{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

#botao-topo{
    
    display: flex;
    
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: right;
}

@media (max-width: 801px){
    #botao-topo{
        display: none;
    }
}







